.header {
  max-width: $breakpoint-lg;
  margin: 0 auto;
  margin-top: $spacing-unit * 4;
}

.header__logo {
  font-size: 28px;
  letter-spacing: -0.9px;
  font-weight: 800;
  color: $color-black;
  cursor: pointer;
}

.header__link {
  &:hover {
    border-bottom: 3px solid $color-primary;
  }
}