.menu {
  margin-top: 1em;
  font-size: 16px;
  text-align: center;
}

.menu__button {
  background-color: $color-white;
  padding: 0.8em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border: 2px solid $color-light-grey;
  border-radius: 3px;
  cursor: pointer;

  &:active {
    // background-color: $color-primary;
    border: 2px solid $color-primary;
  }
}