.pricing {
  margin-top: 2em;
}

.pricing__punchline {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 50px;
  letter-spacing: -0.9px;
  font-weight: 600;
  color: $color-black;
  text-align: center;
}

.pricing-block {
  margin-top: 4em;
  margin-bottom: 5em;
  border: 1px solid $color-primary;
  padding: 1em;
  background: $color-white;
  @include breakpoint("xs") {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.pricing-block__title {
  color: $color-primary;
  font-weight: 700;
  font-size: 25px;
  margin-top: 1em;
}

.pricing-block__price {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0.4em;
}

.pricing-block__price--cents {
  font-size: 25px;
}

.pricing-block__price-frequency {
  font-size: 18px;
  font-weight: 700;
}

.pricing-block__description {
  margin-top: 2em;
  padding-bottom: 2em;
}

.pricing-block__check {
  vertical-align: top;
  img {
    height: 15px;
  }
}

.pricing-block__check--highlight {
  color: $color-primary;
  font-weight: 500;

  svg {
    fill: $color-primary;
  }
}

.pricing-block__button {
  margin-top: 2em;
}